<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <title>Marginal signals</title>
    <!-- Add the Plotly Script Scource in html head tag-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js" ></script>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">-->
    <link rel="stylesheet" href="/static/css/nav.css">
</head>
<body>
    <section id="navsection">
        <div id="navbar">
            <a href="#default" id="logo">Energy Flexibility</a>
            <!-- Centered link -->
            <div class="topnav-centered">
                <a href="#home" class="active">Modulation signals</a>
            </div>            
            <div id="navbar-right">
              <a href="w3template.html">Dashboard</a>
              <a href="#about">Historical</a>
            </div>
          </div>
    </section>
    <section id="content">
    <p>
        Modulation signals that help in reducing the EU’s primary energy use and CO2 emissions associated to electricity
    </p>

    <div class="container" id="chart1" style="position: absolute;top: 50%;width: 100%;margin:auto;align-items: center; font-size: 18px;">

    </div>
    
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

    </section>



    <!--
        IREC CORPORATE IDENTITY 
        pantone 307C rgb(0,118,173)
        100% negre rgb(0,0,0)
        pantone 376C rgb (106,176,35)
        pantone 158C rgb(245,102,0)
        80% negre rgb(0,0,0)
    -->

    <script >
        // When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
        if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
            document.getElementById("navbar").style.padding = "30px 10px";
            document.getElementById("logo").style.fontSize = "25px";
            document.getElementById("navbar").style.background = "lightblue";
        } else {
            document.getElementById("navbar").style.padding = "80px 10px";
            document.getElementById("logo").style.fontSize = "35px";
            document.getElementById("navbar").style.background = "#f1f1f1";
        }
        }
    </script>
    <script type="text/javascript">
        var graphs;
        var graphs = {{ chart_for_html | safe }}; 
        var graphs=JSON.parse(graphs);
        // console.log()
        var config ={displayModeBar: false,showTips: false,responsive:true};
        Plotly.plot('chart1',graphs.data,graphs.layout,config);

    </script>
</body>
</html>